@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  text-align: left;
  zoom: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: 16px;
}

input[type="button"],
input[type="text"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
}

th,
td {
  border-collapse: collapse;
}

table th,
table td {
  white-space: nowrap;
}

ul,
ol {
  list-style-type: none;
}

img {
  vertical-align: text-bottom;
  vertical-align: -webkit-baseline-middle;
  max-width: 100%;
  height: auto;
  width/***/: auto;
}

/* ここまでリセットCSS */
html {
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.font-weight-bold {
  font-weight: 600;
}

.yellow-underline {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #f9d844));
  background: linear-gradient(transparent 70%, #f9d844 70%);
  display: inline;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 1rem 2rem;
  border-top: 4px solid #d8dcdc;
  border-right: 4px solid #666;
  border-bottom: 4px solid #333;
  border-left: 4px solid #868888;
  border-radius: 0;
  background-image: linear-gradient(-45deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
}

@media screen and (max-width: 960px) {
  h3 {
    padding-left: 0.5rem;
    font-size: 26px;
  }
}

@media screen and (max-width: 600px) {
  h3 {
    font-size: 19px;
    padding-left: 0.5rem;
  }
}

h4 {
  padding: 1rem 2rem;
  border-left: 5px solid #000;
  background: #f4f4f4;
  margin-bottom: 1rem;
  font-size: 1.2em;
}

img,
h3 {
  margin: 30px 0;
}

p {
  line-height: 1.8em;
}

#main-image {
  width: 960px;
  margin-top: 0;
  margin-bottom: 0;
}

main {
  margin-top: 10px;
  background-color: white;
  padding: 20px 3%;
}

main .line {
  background-color: #ffffe0;
  border: 1px solid #fffacd;
  padding: 3%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

main .line .text-red {
  font-size: 30px;
  color: #ff3333;
  font-weight: 600;
  margin-top: 25px;
  text-align: center;
}

main .line .text-red span {
  font-size: 60px;
}

main .line .chance {
  font-size: 22px;
  color: #bd5407;
}

main .line .chance .chance-register {
  margin: 25px 0;
  text-align: center;
}

main .line .chance .chance-discount {
  text-align: center;
  margin: 25px 0;
}

main .line .gentei {
  font-size: 14px;
  text-align: right;
  padding-right: 9px;
}

.about-damasukasu h2 img {
  width: 100%;
}

.introduction-video-title {
  text-decoration: underline;
}

.bi-question-circle {
  display: inline-block;
  padding-right: 5px;
  color: #0c63e4;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#212121));
  background: linear-gradient(to bottom, #424242 0%, #212121 100%);
  padding: 10px 0;
}

footer .wrapper {
  text-align: center;
  color: white;
}

footer .wrapper p {
  display: inline-block;
  font-size: 10px;
}

@media screen and (max-width: 960px) {
  header .inner-header p {
    padding: 20px 0;
    text-align: center;
  }
  .line-fix {
    background-color: #00b900;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
  .line-fix .line-icon {
    display: inline-block;
  }
  .line-fix p {
    display: inline-block;
    font-weight: 600;
  }
  footer {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 961px) {
  .line-fix {
    display: none;
  }
}

.movie-wrap {
  position: relative;
  padding-bottom: 56.25%;
  /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
}

.movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */
